@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Students Management System</h1>
    <p class="lead">It’s good to have student information management systems that track a wide variety of information. This information gives you a more significant potential for higher student engagement</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-4">
        <h2>Get more Cources</h2>
    </div>
    <div class="col-md-4">
        <h2>Batch and Regestration</h2>
    </div>
</div>